body {
  background-color: #a3d0f5;
  color: #0369ad;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 62px calc(100vh - 112px) 50px;
  grid-template-areas: 
      "header"
      "main"
      "footer"
  ;
  font-family: 'Roboto';
}

a {
  color: #0cf;
  text-decoration: none;
  background-color: #fff3;
  border-bottom: 1px solid rgb(168, 8, 216);
}
header {
  grid-area: header;
  background-color: rgb(131, 28, 226);
  border-bottom: 2px solid rgb(8, 182, 235);
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
}
main {
  grid-area: main;
  overflow: auto;
  width: 100%;
}
footer {
  grid-area: footer;
  width: 100%;
  background-color: rgb(131, 28, 226);
  border-top: 2px solid rgb(8, 182, 235);
}
header .container, main .container, footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
main .container, footer.container {
  padding: 0 16px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-inline-start: 0;
  margin: 8px 0;
  gap: 16px;
  overflow-x: auto;
}
header ul li {
  display: inline-block;
}
header .user-info {
  flex-grow: 1;
  text-align: right;
}
header .user-info a {
  background: none;
  border: none;
  display: inline-block;
}
header ul li a {
  padding: 8px 16px;
  display: block;
  border-radius: 8px;
}
.logo {
  color: #eb9afc;
  font-size: 125%;
  font-weight: 600;
  padding: 4px 16px;
}
.paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.paginator a {
  border: 1px solid #345;
  border-radius: 8px;
  padding: 2px 4px;
}

.paginator .current {
  padding: 2px 4px;
  text-align: center;
}

.flex-grow-one {
  flex-grow: 1;
}

form.search-form {
  margin-bottom: 1rem;
}

form p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: space-between;
  gap: 16px;
  width: 400px;
  max-width: 100%;
}

form p input {
  width: 50%;
}

form p small {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #345;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.table {
  margin-top: 30px;
  
}

/* Style table header */
thead {
  background-color: #e9ecef;
}

/* Style table header cells */
thead th {
  border: none;
  font-weight: bold;
  text-align: left;
}

/* Style table body cells */
tbody td {
  border-top: none;
}

/* Style quantity input */
input[type="number"] {
  width: 70px;
}

/* Style checkout form */
form {
  margin-top: 30px;
}

/* Style form groups */
.form-group {
  margin-bottom: 15px;
}

/* Style form labels */
label {
  font-weight: bold;
}

/* Style form input fields */
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Style form button */
button[type="submit"] {
  background-color: #5f13ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style form button on hover */
button[type="submit"]:hover {
  background-color: #5f13ec;
}

/* Style error messages */
.errorlist {
  color: red;
  margin-bottom: 15px;
}
.alert {
  border: 1px solid #345;
  border-radius: 8px;
  padding: 4px 16px;
  margin: 8px 0;
}

.alert-success {
  background-color: #0f07;
}

.alert-info {
  background-color: #06f7;
}

.alert-debug {
  background-color: #fff7;
}

.alert-error {
  background-color: #f007;
}

.alert-warning {
  background-color: #fc07;
}
