{% extends 'base.html' %}
{% load cart_tags %}
{% block style %}
table {border-collapse: collapse; width: 100%; max-width: 800px; margin: 0 auto;}
th, td {padding: 12px 15px; text-align: left; border: 1px solid #ddd;}
th {background-color: #f2f2f2; font-weight: bold;}
tr:nth-child(even) {background-color: #f9f9f9;}
tbody td:last-child,
tfoot td:last-child {font-weight: bold;}
.btn {margin-top: 8px;}
.text-right {text-align: right;}
form {display: flex; flex-wrap: wrap;}
.form-group {flex-basis: 50%; padding: 5px; box-sizing: border-box;}
.form-group label {display: block; margin-bottom: 5px;}
.form-group input,
.form-group select {width: 100%; box-sizing: border-box;}
@media only screen and (max-width: 600px) {
  .form-group {flex-basis: 100%;}
}
{% endblock style %}
{% block content %}
{% comment %} {{ cart }} {% endcomment %}
<form method="POST">
  {% csrf_token %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-7">
        <div class="card shadow">
          <div class="card-body">
            <h6>Basic Details</h6>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <label>First Name:</label>
                <input type="text" name="first_name" class="form-control" placeholder="Enter first name" required>
              </div>
              <div class="col-md-6">
                <label>Last Name:</label>
                <input type="text" name="last_name" class="form-control" placeholder="Enter last name" required>
              </div>
              <div class="col-md-6 mt-2">
                <label>Email:</label>
                <input type="email" name="email" class="form-control" placeholder="Enter email" required>
              </div>
              <div class="col-md-6 mt-2">
                <label>Phone:</label>
                <input type="text" name="phone" class="form-control" placeholder="Enter phone" required>
              </div>
              <div class="col-md-12 mt-2">
                <label>Address:</label>
                <textarea name="address" class="form-control" placeholder="Enter address" required></textarea> 
              </div>
              <div class="col-md-6 mt-2">
                <label>City:</label>
                <input type="text" name="city" class="form-control" placeholder="Enter city" required>
              </div>
              <div class="col-md-6 mt-2">
                <label>Country:</label>
                <input type="text" name="country" class="form-control" placeholder="Enter country" required>
              </div>
              <div class="col-md-6 mt-2">
                <label>Zip Code:</label>
                <input type="text" name="zip_code" class="form-control" placeholder="Enter zip code" required>
              </div>
              <div class="col-md-6 mt-2">
                <label>Card Number:</label>
                <input type="text" name="card_number" class="form-control" placeholder="Enter card number" required>
              </div>
              <div class="col-md-6 mt-2">
                <label>Payment Method:</label>
                <select name="payment_method" id="payment-method" class="form-control" required>
                  <option value="">Choose Payment Method</option>
                  <option value="debit-card">Debit Card</option>
                  <option value="credit-card">Credit Card</option>
                  <option value="paypal">PayPal</option>
                </select>
              </div>
              <div class="col-md-6 mt-2">
                <label>Name on Card:</label>
                <input type="text" name="card_name" class="form-control" placeholder="Enter name on the card" required>
              </div>
              <div class="col-md-6 mt-2">
                <label>Expiration Date:</label>
                <input type="text" name="expiration_date" class="form-control" placeholder="MM/YY" required>
              </div>
                <div class="col-md-6 mt-2">
                <label>CVV:</label>
                <input type="text" name="cvv" class="form-control" placeholder="Enter CVV" required>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-5">
          <div class="card shadow">
            <div class="card-body">
              <h6>Order Summary</h6>
                <hr>
                {% for item in cart_items %}
                <div class="row">
                  <div class="col-md-6">
                    <p>Product:</p>
                  </div>
                <div class="col-md-6">
                  <p class="text-right">{{ item.product }}</p>
                </div>
                <div class="col-md-6">
                  <p>Quantity:</p>
                </div>
                <div class="col-md-6">
                  <p class="text-right">{{ item.quantity }}</p>
                </div>
                <div class="col-md-6">
                  <p>Total:</p>
                </div>
                <div class="col-md-6">
                  <p class="text-right">€{{ item.item_price }}</p>
                </div>
              </div>
                <hr>
                {% endfor %}
              <button id="place-order-btn" type="submit" class="btn btn-primary btn-block">Place Order</button>
          </div>
        </div>
      </div>
    </div>
  </div>            
</form>

{% endblock %}