{% extends 'base.html' %}
{% block content %}
  <h1>Orders</h1>
  {% if orders %}
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Date</th>
          <th>Customer</th>
          <th>Customer Email</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }} €</td>
            <td>{{ order.date }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.customer_email }}</td>
            <td>{{ order.order_total }} €</td>
            <td>{{ order.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No orders found.</p>
  {% endif %}
{% endblock %}