{% extends 'base.html' %}
{% block title %}Products{% endblock title %}
{% block style %}
.card {margin-bottom: 20px;}
.card-container {width: 100%;}
.card-column {float: left; width: calc(25% - 20px); margin-right: 20px;}
@media (max-width: 1200px) {
  .card-column {width: calc(33.33% - 20px);}
    } 
@media (max-width: 992px) {
  .card-column {width: calc(50% - 20px);}
    }
@media (max-width: 768px) {
  .card-column {width: 100%; margin-right: 0; margin-bottom: 20px;}
    }
{% endblock style %}
{% block content %}
    <h1>Products</h1>
{% include 'handmade_watercolors/includes/search.html' %} 
    <div class="text-center">
        {% for product in products %}
        <div class="card-column">
            <div class="card text-center mb-3">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|safe }}</p>
                        <p class="card-text">{{ product.price }}€</p>
                        {% if product.reviews.count > 0 %}
                        {% comment %} {% with avg_rating=product.reviews.aggregate(Avg(\'rating\')).rating__avg %} {% endcomment %}
                                <p class="card-text">
                                    {% for i in "⭐⭐⭐⭐⭐" %}
                                        {% if forloop.counter <= avg_rating|floatformat %}
                                            {{ i }}
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            {% comment %} {% endwith %} {% endcomment %}
                        {% else %}
                            <p class="card-text">No reviews yet.</p>
                        {% endif %}
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">View product</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No products found.</p>
        {% endfor %}
    </div>
{% endblock %}