{% extends 'base.html' %}
{% block title %}{{ object.title }} in {{ block.super }}{% endblock title %}
{% block style %}
/* Center the content of the page */
.container {display: flex; flex-direction: column; align-items: center;}
/* Style the product image */
.product-image {width: 100%; max-width: 500px; margin-bottom: 20px;}
/* Style the product name */
.product-name {font-size: 24px; font-weight: bold; margin-bottom: 10px;}
/* Style the product price */
.product-price {font-size: 12px; margin-bottom: 20px;}
/* Style the product description */
.product-description {font-size: 20px; margin-bottom: 20px; line-height: 1.5;}
/* Style the quantity input */
.quantity-input {width: 80px; height: 40px; text-align: center; margin-right: 10px;}
/* Style the "Add to Cart" button */
.add-to-cart-btn {background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;}
.add-to-cart-btn:hover {background-color: #0062cc;}
.add-to-cart-btn:active {background-color: #005cbf;}
.back-to-products-btn {background-color: #5f13ec; color: #5f13ec;; border: 1px solid #007bff; padding: 10px 20px; border-radius: 5px; text-decoration: none; cursor: pointer;}
.back-to-products-btn:hover {background-color: #007bff; color: #fff; text-decoration: none;}
.back-to-products-btn:active {background-color: #0062cc; color: #fff; text-decoration: none;}
{% endblock style %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
        {% if product.image_url %}
            <img src="{{ product.image_url }}" class="img-fluid" alt="{{ product.name }}">
        {% endif %}
    </div>
    <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <h4>Price: {{ product.price }}€</h4>
      {{ product.description|safe }}
      <form method="post" action="{% url 'add_to_cart' product.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" name="quantity" id="quantity" class="form-control" value="1" min="1" max="{{ product.stock_level }}">
        </div>
        <button type="submit" class="btn btn-primary">Add to Cart</button>
      </form>
      <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3 back-to-products-btn">Back to Products</a>
      <button type="button" class="btn btn-success mt-3" id="write-review-btn">Write a Review</button>
    </div>
  </div>
  <script>
    const writeReviewBtn = document.getElementById('write-review-btn');
    writeReviewBtn.addEventListener('click', () => {
      window.location.href = "{% url 'add_review' product.id %}";
    });
  </script>
{% endblock %}